.upcoming{
	height: 125px;
	width: 125px;
}
.jumbotron{
	margin: 10px;
	padding:10px;
}
.media-object{
	height: 125px;
	width: 125px;
}
footer{
	position: relative;
	margin: 150px 10px 0px 10px;
	padding:10px;
	font-size: 12px;
	font-family: cursive;
	background-color: #CCC;
	height:50px;
	bottom: 0;
}
.input-group-message{
	height: 300px;
	width: 300px;
}
